:root[data-theme='light'] {
  --color-page: #fff;
  --color-surface: #fff;
  --color-text: #15161a;
  --color-muted: #71747c;
  --color-accent: #087bff;
  --color-disabled: #b6bac2;
  --color-status-sent: #228b4e;
  --color-status-failed: #d83a3a;
  --color-chat-background: #9ed8fb;
  --color-incoming: #fff;
  --color-outgoing: #e8f8ff;
  --color-border: #e7e9ed;
  --shadow: 0 8px 24px rgb(15 23 42 / 12%);

  color-scheme: light;
}

:root[data-theme='dark'] {
  --color-page: #141519;
  --color-surface: #1c1d22;
  --color-text: #f5f6f8;
  --color-muted: #a7aab2;
  --color-accent: #0b82ff;
  --color-disabled: #3b3e47;
  --color-status-sent: #38c172;
  --color-status-failed: #ff6262;
  --color-chat-background: #101116;
  --color-incoming: #353846;
  --color-outgoing: #8046c8;
  --color-border: #2c2e35;
  --shadow: 0 8px 24px rgb(0 0 0 / 30%);

  color-scheme: dark;
}
